<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1> Materias disponibles</h1>

    <ul>

        <li type="circle">Materia 1. <button id="materia1" onclick="location.href='/materia1';">Ver materia</button></li>       
        
        <li type="circle">Materia 2. <button id="materia2" onclick="location.href='/materia2';">Ver materia</button></li>
        
        <li type="circle">Materia 3. <button id="materia3" onclick="location.href='/materia3';">Ver materia</button></li>
        
        </ul>


</body>
</html>